
@model rocket_elevator_ui.Models.ProductModel

@if (@Model != null)
{
    if (Model.Buildings != null)
    {
        <div class="container">
            <div class="row product-container">
                <div class="col-12">
                    <div class="header-product"><h3>Building List</h3></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Adm Contact FullName</th>
                                <th scope="col">Adm Contact Email</th>
                                <th scope="col">Adm Contact Phone</th>
                                <th scope="col">Tech Contact FullName</th>
                                <th scope="col">Tech Contact Email</th>
                                <th scope="col">Tech Contact Phone</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Buildings)
                            {
                                <tr>
                                    <td scope="row">@item.AdmContactFullName</td>
                                    <td scope="row">@item.AdmContactEmail</td>
                                    <td scope="row">@item.AdmContactPhone</td>
                                    <td scope="row">@item.TechContactFullName</td>
                                    <td scope="row">@item.TechContactEmail</td>
                                    <td scope="row">@item.TechContactPhone</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"><i class="far fa-eye">Create intervention</i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

    if (Model.Batteries != null)
    {
        <div class="container">
            <div class="row product-container">
                <div class="col-12">
                    <div class="header-product"><h3>Battery List</h3></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Type Building</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date Commissioning</th>
                                <th scope="col">Date Last Inspection</th>
                                <th scope="col">Information</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Batteries)
                            {
                                <tr>
                                    <td scope="row">@item.TypeBuilding</td>
                                    <td scope="row">@item.Status</td>
                                    <td scope="row">@item.DateCommissioning</td>
                                    <td scope="row">@item.DateLastInspection</td>
                                    <td scope="row">@item.Information</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"><i class="far fa-eye">Create intervention</i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }


    if (Model.Columns != null)
    {
        <div class="container">
            <div class="row product-container">
                <div class="col-12">
                    <div class="header-product"><h3>Columns List</h3></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Type Building</th>
                                <th scope="col">Number Floors Served</th>
                                <th scope="col">Status</th>
                                <th scope="col">Information</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Columns)
                            {
                                <tr>
                                    <td scope="row">@item.TypeBuilding</td>
                                    <td scope="row">@item.NumberFloorsServed</td>
                                    <td scope="row">@item.Status</td>
                                    <td scope="row">@item.Information</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"><i class="far fa-eye">Create intervention</i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

    if (Model.Elevators != null)
    {
        <div class="container">
            <div class="row product-container">
                <div class="col-12">
                    <div class="header-product"><h3>Elevator List</h3></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">serialNumber</th>
                                <th scope="col">model</th>
                                <th scope="col">Status</th>
                                <th scope="col">Information</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Elevators)
                            {
                                <tr>
                                    <td scope="row">@item.SerialNumber</td>
                                    <td scope="row">@item.Model</td>
                                    <td scope="row">@item.Status</td>
                                    <td scope="row">@item.Information</td>
                                    <td>
                                        <button type="button" class="btn btn-primary"><i class="far fa-eye">Create intervention</i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

}
else
{
    <div class="row product-container">
        <label>Products are not available yet</label>
    </div>
}
