@model rocket_elevator_ui.Models.InterventionModel

@using (Html.BeginForm("CreateInterventions", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Interventions</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @*<div class="form-group">
        @Html.LabelFor(model => model.StartInterv, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartInterv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartInterv, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StopInterv, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StopInterv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StopInterv, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Reports, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reports, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reports, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BuildingId, "Buildings", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BuildingId, Model.Buildings, "-- Select Building --", htmlAttributes: new { @class = "form-control", @onchange = "showBatteries(this.value)" })
            @Html.ValidationMessageFor(model => model.BuildingId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="battery">
        @Html.Partial("_PartialSelectBatteries", model: Model)
    </div>
    <div id="column">
        @Html.Partial("_PartialSelectColumn", model: Model)
    </div>
    <div id="elevator">
        @Html.Partial("_PartialSelectElevators", model: Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>








<script>

    function showBatteries(value) {
        $.ajax({
            type: "GET",
            data: { buildingId: value},
            url: "/Home/GetBatteries",
            success: function (xht) {
                var selector = document.getElementById("battery")
                $(selector).html('')
                $(selector).html(xht)
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function showColumns(value) {
        $.ajax({
            type: "GET",
            data: { batteryId: value },
            url: "/Home/GetColumns",
            success: function (xht) {
                var selector = document.getElementById("column")
                $(selector).html('')
                $(selector).html(xht)
            },
            error: function (error) {
                alert(error);
            }
        });
    }
    function showElevator(value) {
        $.ajax({
            type: "GET",
            data: { columnId: value },
            url: "/Home/GetElevators",
            success: function (xht) {
                var selector = document.getElementById("elevator")
                $(selector).html('')
                $(selector).html(xht)
            },
            error: function (error) {
                alert(error);
            }
        });
    }


  // loading pages actions
  window.addEventListener('load', function () {
    document.getElementById("showbuilding").style.display = "none"
    document.getElementById("showbattery").style.display = "none"
    document.getElementById("showcolumn").style.display = "none"
    document.getElementById("showelevator").style.display = "none"

    // at the call of the function showbuilding we display the dropdown associated to id
    window.showbuilding = function(){
      document.getElementById("showbuilding").style.display = "block"
      document.getElementById("showbattery").style.display = "none"
      displaySubmitBtn()

      var c = document.getElementById("intervention_customer_id");
      var customerId = c.options[c.selectedIndex].value;

      if(!customerId) {
          document.getElementById("showbuilding").style.display = "none"
          document.getElementById("showbattery").style.display = "none"
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"custormerid":customerId}
      // ajax to post and get information from the form to the controller
      $.ajax({
        type: "POST",
        url: "/interventions/getbuildings",
        data: param,
        success: function(xht){
          var selector = document.getElementById("intervention_building_id")
          $(selector).html('<option value="-1">Select building</option>')
          $(selector).append($.map(xht, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.adm_contact_full_name});
          }));
        }
      });


    }
    // at the call of the function showbattery we display the dropdown associated to id
    window.showbattery = function(){
      document.getElementById("showbattery").style.display = "block"
      displaySubmitBtn()

      var b = document.getElementById("intervention_building_id");
      var buildingId = b.options[b.selectedIndex].id;

        if(!buildingId) {
          document.getElementById("showbattery").style.display = "none"
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }
      // ajax to post and get information from the form to the controller
      var param ={"buildingid":buildingId}
      displaySubmitBtn()
      $.ajax({
        type: "POST",
        url: "/interventions/getbatteries",
        data: param,
        success: function(bat){
          var take = document.getElementById("intervention_battery_id")
          $(take).html('<option value="-1">Select battery</option>')
          $(take).append($.map(bat, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.status});
          }));
        }
      });


    }
    // at the call of the function showcolumn we display the dropdown associated to id
    window.showcolumn = function(){
      document.getElementById("showcolumn").style.display = "block"

      var col = document.getElementById("intervention_battery_id");
      var batteryId = col.options[col.selectedIndex].id;
      displaySubmitBtn()

      if(!batteryId) {
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }
      // ajax to post and get information from the form to the controller
      var param ={"batteryid":batteryId}
      $.ajax({
        type: "POST",
        url: "/interventions/getcolumns",
        data: param,
        success: function(colu){
          var takecol = document.getElementById("intervention_column_id")
          $(takecol).html('<option value="-1">Select column</option>')
          $(takecol).append($.map(colu, function(item){
            return $('<option/>', {id: item.id, value: item.id, text: item.id+" - "+item.status});
          }));
        }
      });


    }
    // at the call of the function showelevator we display the dropdown associated to id
    window.showelevator = function(){
      document.getElementById("showelevator").style.display = "block"

      var el = document.getElementById("intervention_column_id");
      var columnId = el.options[el.selectedIndex].id;

      if(!columnId) {
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"columnid":columnId}
      $.ajax({
        type: "POST",
        url: "/interventions/getelevators",
        data: param,
        success: function(eleva){
          var takeelev = document.getElementById("intervention_elevator_id")
          $(takeelev).html('<option value="-1">Select elevator</option>')
          $(takeelev).append($.map(eleva, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.status});
          }));


        }
      });

    }
    // function that enables ou disables the the submit button by checking if all necessary fields are okay
    window.displaySubmitBtn = function() {
      var b = document.getElementById("intervention_building_id");
      var buildingId = b.options[b.selectedIndex].id;

      var c = document.getElementById("intervention_customer_id");
      var customerId = c.options[c.selectedIndex].value;

      var c = document.getElementById("intervention_battery_id");
      var batteryId = c.options[c.selectedIndex].value;


      var submitBtn = document.getElementsByClassName("submit_intervention");
      if(buildingId && buildingId != -1
        && customerId && customerId != -1
        && batteryId && batteryId != -1) {
        submitBtn[0].removeAttribute("disabled")
      } else {
        submitBtn[0].setAttribute("disabled","")
      }



    }

    window.displaySubmitBtn()





  })


</script>
